

/* Stylowanie nagłówka */
.form-signin-heading {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: darkgoldenrod;
}

/* Stylowanie formularza */
.form-signin {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #181818;
    border-radius: 5px;
}

/* Stylowanie etykiet i pól tekstowych */
.form-signin label {
    display: block;
    margin-bottom: 10px;
    color: darkgoldenrod;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#registerFormContainer {
    background-color: #000000;
    border-radius: 30px;
    box-shadow: 0 0 30px darkgoldenrod;
    border: 0px dashed moccasin;
    width: 400px;
    height: 500px;
    position: relative;
    bottom: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    max-width: 100%;
    margin: 0 auto;
}

#registerFormContainer:hover {
    box-shadow: 0 0 20px moccasin;
}

.submitButtonStyle {
    background-color: darkgoldenrod;
    border: none;
    width: 150px;
    margin: auto;
    display: block;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 20px darkgoldenrod;
}