#searchFormContainer {
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 0 30px 30px 30px;
    border: 0 dashed darkgoldenrod;
    width: 16000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    max-width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.search-button {
    font-size: 16px;
    font-weight: bold;
    background-color: darkgoldenrod;
    border: none;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 20px darkgoldenrod;
    transition: background-color 0.3s ease-in-out;
    float: right;
}


.custom-datalist {
    max-height: 300px;
    overflow-y: auto;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

#results {
    position: sticky;
    width: 100%;
    margin: 50px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    max-width: 100%;
}

.last-uploaded-title {
    font-size: 32px;
    text-shadow: 1px 0 black, -1px 0 black, 0 1px black, 0 -1px black;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#results2 {
    width: 100%;
    margin: 50px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    max-width: 100%;
    overflow-x: hidden;
}

.info-result-container {
    display: flex;
    align-items: center;
    border: 2px;
    color: darkgoldenrod;
    margin-right: 100px;
}

.info-result-container:last-child {
    margin-right: 0;
}

#suggestionsList::-webkit-scrollbar {
    width: 5px;
}

#suggestionsList::-webkit-scrollbar-thumb {
    background-color: darkgoldenrod;
    border-radius: 10px;
}

#suggestionsList::-webkit-scrollbar-track {
    background-color: transparent;
}

.paginationButton {
    background-color: black;
    color: white;
    border: 1px solid darkgoldenrod;
    padding: 10px 10px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 15px;
    position: relative;
    width: 100%;
    font-weight: bold;
    font-size: 22px;
}

.sortButton {
    font-weight: bold;
    font-size: 16px;
    background-color: black;
    color: white;
    border: 1px solid darkgoldenrod;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 15px;
    margin-right: 10px;
    width: 13%;
}

.actualSortParamTextDiv {
    color: white;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.paginationButtonDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: top 0.3s ease-in-out;
    width: 7%;
    margin-left: 1%;
    margin-right: 1%;
}