<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Moto-Budżet</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navBarMainContainerLogoAdvertisement.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/searchForm.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/myAccountPanel.css}" />
    <script type="text/javascript" th:src="@{/js/utils.js}" ></script>
    <script type="text/javascript" th:src="@{/js/userAdvertisements.js}" ></script>
    <script type="text/javascript" th:src="@{/js/myAccount.js}" ></script>
    <script type="text/javascript" th:src="@{/js/messages.js}" ></script>
</head>

<body>
<header>
    <div class="looogo">
    <a href="/">
        <img alt="Logo" id="logo" src="">
    </a>
    </div>
    <div class="nav-buttons">
        <a href="/advertisement/new">Sprzedaj</a>
        <a href="/messages">Wiadomosci</a>
        <a href="/favourites">Ulubione</a>
        <a href="/account"><span id="username" th:text="${username}"></span></a>
        <a href="/logout" th:if="${logout != null}">
            <span id="logout" th:text="${logout}"></span>
        </a>
    </div>
</header>
<div class="container-main2" id="container-main2">
    <div class="left-container" id="left-container"></div>
    <div class="right-container" id="rightContainer">
        <div class="header-container-account" id="headerContainer"></div>
        <div class="result-container-right" id="resultContainerRight"></div>
    </div>
</div>
<span id="loadFunction" th:text="${loadFunction}" style="display: none;"></span>

</body>
</html>