<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta property="og:image" content="http://178.37.196.42:20134/api/resources/logo"/>
    <meta property="og:image:width" content="250" />  <!-- Recommended width -->
    <meta property="og:image:height" content="74" />  <!-- Recommended height -->
    <link rel="preload" href="/api/resources/logo" as="image">
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <title>Moto-Budżet</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navBarMainContainerLogoAdvertisement.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/searchForm.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/zoom.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/test.css}" />
    <script type="text/javascript" th:src="@{/js/utils.js}" ></script>
    <script type="text/javascript" th:src="@{/js/searchForm.js}" ></script>
    <script type="text/javascript" th:src="@{/js/last-uploaded.js}" ></script>
</head>

<body>
<header>
    <div class="looogo">
        <a href="/">
            <img id="logo" src="/api/resources/logo" alt="Logo">
        </a>
    </div>

    <div class="nav-buttons">
        <a href="/advertisement/new">Sprzedaj</a>
        <a href="/messages">Wiadomosci</a>
        <a href="/favourites">Ulubione</a>
        <a href="/account"><span id="username" th:text="${username}"></span></a>
        <a href="/logout" th:if="${logout != null}">
            <span id="logout" th:text="${logout}"></span>
        </a>
    </div>
</header>
<style>

</style>
<script>

</script>
<div class="container-main" id="container-main">
    <div id="results"></div>
    <div id="results2"></div>
</div>
<div id="zoom-controls">
    <div style="display: flex">
        <label style="font-size: 60px;align-items: center; justify-content: center;">🕵️</label>
        <div class="custom-toggle-switch">
            <label class="custom-label">
                <input type="checkbox" id="darkModeCheckbox">
                <span class="custom-slider"></span>
            </label>
        </div>
    </div>
    <input type="range" min="0.8" max="1.2" step="0.001" value="1" class="slider" id="zoom-slider" oninput="changeZoom(this.value)">
</div>


    <figure class='ph-image'>
        <div class='ph-shadow'></div>
        <div class='ph-content'>
            <img src='http://localhost:20134/api/resources/advertisementPhoto/rs3.png' />
        </div>
        <div class='ph-lighting'></div>
    </figure>
</div>

</body>
</html>