<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <title>Moto-Budżet</title>
    <link rel="preload" href="/api/resources/logo" as="image">
    <link rel="stylesheet" type="text/css" th:href="@{/css/navBarMainContainerLogoAdvertisement.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/searchForm.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/zoom.css}" />
    <script type="text/javascript" th:src="@{/js/utils.js}" ></script>
    <script type="text/javascript" th:src="@{/js/searchForm.js}" ></script>
</head>

<body>
<header>
    <div class="looogo">
        <a href="/">
            <img id="logo" src="/api/resources/logo" alt="Logo">
        </a>
    </div>
    <div class="nav-buttons">
        <a href="/advertisement/new">Sprzedaj</a>
        <a href="/messages">Wiadomosci</a>
        <a href="/favourites">Ulubione</a>
        <a href="/account"><span id="username" th:text="${username}"></span></a>
        <a href="/logout" th:if="${logout != null}">
            <span id="logout" th:text="${logout}"></span>
        </a>
    </div>
</header>
<div class="container-main" id="container-main">
    <div id="title-container-hidden"></div>
    <div id="searchFormContainer"></div>
    <div id="results"></div>
</div>
<script>
    // let nameContent = $("#name").text();
    let spanElement = document.getElementById("name");
    let nameContent = spanElement.textContent;
    console.log(nameContent);
</script>

</body>
</html>