<!DOCTYPE html>
<html lang="en">
<head>
  <title>Moto-Budżet</title>
  <meta charset="utf-8">
  <link rel="preload" href="/api/static/logo" as="image">
  <link rel="stylesheet" type="text/css" th:href="@{/css/navBarMainContainerLogoAdvertisement.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/snowflake.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/zoom.css}" />
  <script type="text/javascript" th:src="@{/js/utils.js}" ></script>
  <script type="text/javascript" th:src="@{/js/reset.js}" ></script>
</head>
<body>
<header>
  <div class="looogo">
    <a href="/">
      <img id="logo" src="/api/static/logo" alt="Logo">
    </a>
  </div>
  <div class="nav-buttons">
    <a href="/advertisement/new">Sprzedaj</a>
    <a href="/messages">Wiadomosci</a>
    <a href="/favourites">Ulubione</a>
    <a href="/account"><span id="username" th:text="${username}"></span></a>
    <a href="/logout" th:if="${logout != null}">
      <span id="logout" th:text="${logout}"></span>
    </a>
  </div>
</header>
<div id="snowflakeContainer"></div>
<div class="container-main" id="container-main">
  <div id="registerFormContainer"></div>
</div>
<div id="zoom-controls">
  <div class="nav-buttons">
    <a href="/management" th:if="${ROLE == 'ROLE_ADMIN'}" class="nav-buttons">ADMIN</a>
  </div>
  <div style="display: flex">
    <label style="font-size: 60px;align-items: center; justify-content: center;">🕵️</label>
    <div class="custom-toggle-switch">
      <label class="custom-label">
        <input type="checkbox" id="darkModeCheckbox">
        <span class="custom-slider"></span>
      </label>
    </div>
  </div>
  <input type="range" min="0.8" max="1.2" step="0.001" value="1" class="slider" id="zoom-slider" oninput="changeZoom(this.value)">
</div>
</body>
</html>