#advertisementResultDiv {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    flex-basis: auto;
    height: auto;
    background-color: rgba(0,0,0, 1);
    /*background-color: transparent;*/
    margin: 0 20px;
    margin-bottom: 15px;
    padding: 10px;
    display: grid;
    border-radius: 30px;
    cursor: default;
    animation: fade-in 1s ease-in-out forwards;
}

.tooltip {
    display: none;
    position: absolute;
    padding: 8px;
    background-color: black;
    color: #fff;
    border: 2px dashed darkgoldenrod;
    border-radius: 10px;
    font-size: 12px;
    z-index: 1000; /* na wypadek, gdybyś miał inne nakładające się elementy */
}

#titleDiv {
    animation: fade-in 1s ease-in-out forwards;
}

#advertisementInfoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    text-align: center;
    margin-right: 20px;
    /*width: max-content;*/
    max-width: 100%;
    box-sizing: border-box;
    flex-basis: auto;
}
#userNameValueDiv {
    margin-right: 10px;
    position: relative;
    /*top: 10px;*/
    flex-shrink: 0;
}