/* Add darkgoldenrod color to form text */
form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center-align form elements horizontally */
    gap: 3px;
}
form label {
    color: darkgoldenrod;
    text-align: center; /* Center-align labels horizontally */
}
form select,
form input[type="text"],
form input[type="number"],
form input[type="date"],
form textarea {
    width: 500px; /* Set a fixed width for select and input fields to ensure consistency */
    background-color: darkgrey; /* Set gray background color */
    box-shadow: 0 0 10px moccasin;
    border: aquamarine;
    text-align: center; /* Center-align text inside the form fields */
}
#fileDropArea {
    padding: 20px;
    text-align: center;
    justify-content: center;
    width: 300px;
    align-items: center;
    cursor: pointer;
    color: darkgoldenrod;
    border: 2px dashed darkgoldenrod;
    /* Add border style */
    background-color: #181818;
    /* Add background color */
    margin-bottom: 10px;
}

#half-container-big2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Dodaj odstęp między fileDropArea a miniaturami */
}

#thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.thumbnail {
    width: 150px;
    height: 150px;
    margin: 10px;
    object-fit: cover;
    box-shadow: 0 0 20px darkgoldenrod;
    background: radial-gradient(
            ellipse at center,
            rgba(24, 24, 24, 0.0) 0%,
            rgba(24, 24, 24, 0.3) 70%,
            rgba(24, 24, 24, 1) 90%
    );
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.thumbnail:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
            ellipse at center,
            rgba(24, 24, 24, 0.0) 0%,
            rgba(24, 24, 24, 0.3) 70%,
            rgba(24, 24, 24, 1) 90%
    );
    opacity: 1;
    transition: opacity 0.3s ease;
}

.thumbnail:hover:before {
    opacity: 1;
}

.thumbnail.selected {
    box-shadow: 0 0 40px moccasin;
}
