

/* Stylowanie nagłówka */
.form-signin-heading {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: darkgoldenrod;
}

/* Stylowanie formularza */
.form-signin {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #181818;
    border-radius: 5px;
}

/* Stylowanie etykiet i pól tekstowych */
.form-signin label {
    display: block;
    margin-bottom: 10px;
    color: darkgoldenrod;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#registerFormContainer {
    /*background-color: #181818;*/
    background-color: #000000;
    border-radius: 30px;
    box-shadow: 0 0 40px darkgoldenrod;
    border: 0 dashed darkgoldenrod;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Dodaj padding, aby uzyskać odstęp od krawędzi */
    box-sizing: border-box;
    max-width: 100%;
    height: 100vh; /* Ustaw wysokość na 100% widoku (viewport height) */
    margin: 0 auto; /* Wycentruj w poziomie */
    /*transition: box-shadow 0s ease-in-out;*/
}

#registerFormContainer:hover {
    box-shadow: 0 0 20px moccasin;
}
