#searchFormContainer {
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 0 30px 30px 30px;
    border: 0 dashed darkgoldenrod;
    width: 1500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    max-width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.custom-datalist {
    max-height: 300px;
    overflow-y: auto;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

#results {
    position: sticky;
    width: 100%;
    margin: 50px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    max-width: 100%;
}

.last-uploaded-title {
    font-size: 32px;
    text-shadow: 1px 0 black, -1px 0 black, 0 1px black, 0 -1px black;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#results2 {
    width: 100%;
    margin: 50px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    max-width: 100%
}

.info-result-container {
    display: flex;
    align-items: center;
    border: 2px;
    color: darkgoldenrod;
    margin-right: 100px;
}

.info-result-container:last-child {
    margin-right: 0;
}

#suggestionsList::-webkit-scrollbar {
    width: 5px;
}

#suggestionsList::-webkit-scrollbar-thumb {
    background-color: darkgoldenrod;
    border-radius: 10px;
}

#suggestionsList::-webkit-scrollbar-track {
    background-color: transparent;
}
