/*
 * For Codepen Display purposes only
 * --------------------------------------
*/


.center {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

figure {
  margin: 0;
  padding: 0;
}


/*
 * Parallax Hover Styles
 * --------------------------------------
*/
$border-radius: 20px;
$shadow-color: #2c3e50;

.ph-image {
  border-radius: $border-radius;
  transform-style: preserve-3d;
  position: relative;
  transition: all 0.3s ease-out;
  //box-shadow: rgba(184, 134, 11, 0.8) 6px 2px 16px 0, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  box-shadow: rgba(255, 255, 255, 0.8) 0 20px 30px -10px !important;

  img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: $border-radius;
    overflow: hidden;
    transition: all 0.4s ease-out;
    transform-style: preserve-3d;
  }
}

//.ph-image:after {
//  /* Pseudo-element tworzący szary efekt 3D na bokach żetonu */
//  content: '';
//  position: absolute;
//  top: 0;
//  left: 0;
//  width: 100%;
//  height: 100%;
//  background: gray;
//  transform-origin: left;
//  transform: rotateY(-90deg);
//  transition: transform 0.25s ease-out;
//  opacity: 0.5; /* Możesz dostosować przezroczystość boków */
//  box-shadow: 5px 5px 20px rgba(0,0,0,0.5); /* Dodaj cień, aby uzyskać głębię */
//  border-radius: 5px; /* Zaokrąglenie krawędzi, jeśli jest potrzebne */
//  z-index: -1;
//}
//
//.ph-image:before {
//  content: '';
//  position: absolute;
//  top: 0;
//  right: 0;
//  width: 100%;
//  height: 100%;
//  background: gray;
//  transform-origin: right;
//  transform: rotateY(90deg);
//  transition: transform 0.25s ease-out;
//  opacity: 0.5; /* Dostosuj przezroczystość boków według potrzeb */
//  box-shadow: -5px 5px 20px rgba(0,0,0,0.5); /* Dodaj cień po przeciwnej stronie, aby uzyskać efekt głębi */
//  border-radius: 5px; /* Zaokrąglenie krawędzi, jeśli jest potrzebne */
//  z-index: -1;
//}
